<launch>
  <arg name="robot_address" default="10.42.0.138"/>
  <arg name="robot_name"    default="robot"/>
  <arg name="robot_base"    default="kobuki"/>

  <machine name="$(arg robot_name)" address="$(arg robot_address)" env-loader="/opt/ros/kinetic/remote.sh" user="ngenator"/>
  
  <group ns="teleop">
    <!-- Joystick teleop nodes -->
    <include file="$(find robot_teleop)/launch/includes/joystick.launch">
      <param name="robot_base" value="$(arg robot_base)"/>
    </include>
  </group>
</launch>