<launch>
  <arg name="robot_address" default="10.42.0.138"/>
  <arg name="robot_name"    default="robot"/>
  <arg name="robot_base"    default="kobuki"/>

  <machine name="$(arg robot_name)" address="$(arg robot_address)" env-loader="/opt/ros/kinetic/remote.sh" user="ngenator"/>

  <!-- Robot Driver -->
  <include file="$(find robot_driver)/launch/includes/$(arg robot_base).launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Teleop -->
  <include file="$(find robot_teleop)/launch/includes/joystick.launch">
    <arg name="cmd_vel" value="velocity_smoother/raw_cmd_vel"/>
  </include>
  
  <!-- Visualization -->
  <include file="$(find robot_bringup)/launch/visualize.launch">
    <arg name="robot_base" value="$(arg robot_base)"/>
  </include>
</launch>