<launch>
  <arg name="robot_address" default="192.168.98.234"/>
  <arg name="robot_user"    default="ngenator"/>

  <machine name="robot" address="$(arg robot_address)" user="$(arg robot_user)" env-loader="/opt/ros/env.sh" default="true"/>

  <group>
    <include file="$(find robot_bringup)/launch/includes/robot/mobile_base.launch"/>

    <!-- Additional sensors -->
    <group>
      <node pkg="nodelet" type="nodelet" name="sensor_nodelet_manager" args="manager" machine="robot"/>

      <include file="$(find robot_bringup)/launch/includes/robot/sensors/rplidar.launch"/>
      <include file="$(find robot_bringup)/launch/includes/robot/sensors/d435.launch"/>
    </group>
  </group>
</launch>