<launch>
  <arg name="remote" default="true"/>

  <!-- !!! All nodes defined after this tag will use it -->
  <machine if="$(arg remote)" name="robot" address="192.168.98.234" user="ngenator" env-loader="/opt/ros/env.sh" default="true"/>

  <group>
    <!-- Nodelet manager for nodelets running on the robot -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager">
      <param name="num_worker_threads" value="20" />
    </node>

    <!-- Mobile base driver -->
    <include file="$(find robot_bringup)/launch/includes/robot/mobile_base.launch">
      <arg name="external_manager" value="true"/>
      <arg name="manager"          value="mobile_base_nodelet_manager"/>
    </include>

    <!-- Depth sensor -->
    <include file="$(find robot_bringup)/launch/includes/robot/sensors/d435.launch">
      <arg name="external_manager" value="true"/>
      <arg name="manager"          value="mobile_base_nodelet_manager"/>
      <arg name="ns"               value="mobile_base/sensors/realsense"/>
      <arg name="odom_frame_id"    value="odom_frame"/>
      <arg name="filters"          value="pointcloud"/>
    </include>

    <!-- Lidar -->
    <include file="$(find robot_bringup)/launch/includes/robot/sensors/rplidar.launch">
      <arg name="ns" value="mobile_base/sensors/rplidar"/>
    </include>
  </group>

  <!-- Capabilities -->
  <group>
    <!-- AMCL -->
    <include file="$(find robot_bringup)/launch/includes/robot/amcl.launch"/>

    <!-- Teleop -->
    <include file="$(find robot_bringup)/launch/includes/robot/teleop.launch"/>
  </group>
</launch>