<launch>
  <!-- Arguments -->
  <arg name="serial_port" default="/dev/input/js0"/>

  <!-- Joystick params -->
  <rosparam file="$(find robot_bringup)/params/controller/joystick.yaml" command="load"/>

  <!-- Joy node for reading raw joystick data -->
  <node pkg="joy" type="joy_node" name="joy" required="true">
    <param name="dev"               type="string" value="$(arg serial_port)"/>
    <param name="deadzone"          type="double" value="0.05"/>
    <param name="coalesce_interval" type="double" value="0.001"/>
    <param name="autorepeat_rate"   type="int"    value="10"/>
  </node>

  <!-- Joy teleop node for taking raw joystick data and converting to angular velocity msgs -->
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop" required="true">
    <!-- <remap from="cmd_vel_out" to="teleop_velocity_smoother/input/velocity"/> -->
    <remap from="cmd_vel_out" to="teleop_velocity_smoother/input/velocity"/>
  </node>
</launch>