<launch>
  <arg name="robot_name" default="robot"/>

  <arg name="manager" default="$(arg robot_name)_nodelet_manager"/>

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot_description)/robots/kobuki_hexagons_r200.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" machine="$(arg robot_name)"> 
    <param name="num_worker_threads" value="4" />
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)"
    args="load kobuki_node/KobukiNodelet $(arg manager)" machine="$(arg robot_name)">
    <rosparam command="load" file="$(find robot_driver)/param/kobuki/mobile_base.yaml"/>
  </node>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" machine="$(arg robot_name)">
    <rosparam command="load" file="$(find robot_driver)/param/kobuki/diagnostics.yaml"/>

    <!-- Set the prefixes to remove using the robot_name arg -->
    <rosparam param="analyzers/power/remove_prefix"       subst_value="true">$(arg manager)</rosparam>
    <rosparam param="analyzers/kobuki/remove_prefix"      subst_value="true">$(arg manager)</rosparam>
    <rosparam param="analyzers/sensors/remove_prefix"     subst_value="true">$(arg manager)</rosparam>
    <rosparam param="analyzers/input_ports/remove_prefix" subst_value="true">$(arg manager)</rosparam>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" machine="$(arg robot_name)">
    <param name="publish_frequency" type="double" value="5.0" />

    <remap from="joint_states" to="$(arg robot_name)/joint_states"/>
  </node>

  <!-- Bumper pointcloud, generated from the bumper messages -->
  <node pkg="nodelet" type="nodelet" name="bumper_pointcloud"
    args="load kobuki_bumper2pc/Bumper2PcNodelet $(arg manager)" machine="$(arg robot_name)">
      <param name="pointcloud_radius" type="double" value="0.25"/>

      <remap from="bumper_pointcloud/pointcloud"   to="$(arg robot_name)/sensors/bumper"/>
      <remap from="bumper_pointcloud/core_sensors" to="$(arg robot_name)/sensors/core"/>
  </node>

  <!-- Velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
    args="load yocs_cmd_vel_mux/CmdVelMuxNodelet  $(arg manager)" respawn="true" machine="$(arg robot_name)">
    <rosparam param="yaml_cfg_data">
      '{
        subscribers: [
          { name: "Safety Controller", topic: "input/safety",     timeout: 0.2, priority: 100 },
          { name: "Teleoperation",     topic: "input/teleop",     timeout: 0.2, priority: 50 },
          { name: "Docking",           topic: "input/docking",    timeout: 0.2, priority: 25 },          
          { name: "Navigation",        topic: "input/navigation", timeout: 0.2, priority: 1 }
        ],
        publisher: "output/cmd_vel"
      }'
    </rosparam>

    <remap from="cmd_vel_mux/output/cmd_vel" to="$(arg robot_name)/commands/velocity"/>
  </node>

  <!-- Safety controller, reacts to certain sensors like bumper, wheel drop, and cliff -->
  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_safety_controller"
    args="load kobuki_safety_controller/SafetyControllerNodelet $(arg manager)" machine="$(arg robot_name)">
    <remap from="$(arg robot_name)_safety_controller/cmd_vel"           to="cmd_vel_mux/input/safety"/>
    <remap from="$(arg robot_name)_safety_controller/events/bumper"     to="$(arg robot_name)/events/bumper"/>
    <remap from="$(arg robot_name)_safety_controller/events/cliff"      to="$(arg robot_name)/events/cliff"/>
    <remap from="$(arg robot_name)_safety_controller/events/wheel_drop" to="$(arg robot_name)/events/wheel_drop"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="dock_drive" 
    args="load kobuki_auto_docking/AutoDockingNodelet dock_drive_manager" machine="$(arg robot_name)">
    <rosparam file="$(find kobuki_auto_docking)/param/auto_docking.yaml" command="load"/>
    
    <remap from="dock_drive/odom"        to="$(arg robot_name)/odom"/>
    <remap from="dock_drive/core"        to="$(arg robot_name)/sensors/core"/>
    <remap from="dock_drive/dock_ir"     to="$(arg robot_name)/sensors/dock_ir"/>
    <remap from="dock_drive/motor_power" to="$(arg robot_name)/commands/motor_power"/>
    <remap from="dock_drive/velocity"    to="cmd_vel_mux/input/docking"/>
  </node>
</launch>
