<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="scan_topic" default="/robot/sensors/scan"/>

  <node pkg="frontier_exploration" type="explore_client" name="explore_client" machine="$(arg robot_name)"/>

  <node pkg="frontier_exploration" type="explore_server" name="explore_server" machine="$(arg robot_name)">
    <param name="frequency"     type="double" value="2.0"/>
    <param name="goal_aliasing" type="double" value="8.0"/>

    <rosparam file="$(find robot_navigation)/param/explore_costmap_params.yaml" command="load" />

    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>
