<launch>
  <arg name="robot_name"    default="robot"/>
  <arg name="robot_base"    default="kobuki"/>
  <arg name="mapper"        default="gmapping"/>

  <arg namme="localization" default="false"/>

  <!-- TODO move maps onto the robot -->
  <include unless="$(arg localization)" file="$(find robot_navigation)/launch/includes/mapping/$(arg mapper).launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="scan_topic" value="$(arg robot_name)/sensors/laser/scan"/>
  </include>
</launch>