<launch>
  <arg name="robot_name" default="robot"/>
  <arg name="scan_topic" default="robot/sensors/scan_filtered"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 base_link laser_link 100" machine="$(arg robot_name)"/>
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 odom base_link 100" machine="$(arg robot_name)"/> -->

  <node pkg="slam_karto" type="slam_karto" name="mapping" output="screen" machine="$(arg robot_name)">
    <rosparam command="load" file="$(find robot_bringup)/param/mapping/karto.yaml" />

    <param name="odom_frame"          value="odom"/>
    <param name="map_update_interval" value="15"/>
    <param name="resolution"          value="0.001"/>

    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
