<launch>
  <arg name="machine" default="robot"/>

  <node name="multiplexer" pkg="nodelet" type="nodelet" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager" machine="$(arg machine)">
    <param name="yaml_cfg_file" value="$(find robot)/param/muxer.yaml"/>

    <remap from="multiplexer/input/safety"   to="safety_controller/cmd_vel"/>
    <remap from="multiplexer/input/joystick" to="controller/cmd_vel"/>

    <remap from="multiplexer/output/cmd_vel" to="velocity_smoother/raw_cmd_vel"/>
  </node>
</launch>