<launch>
  <arg name="robot_address" default="10.42.0.138"/>
  <arg name="robot_name"    default="robot"/>
  <arg name="robot_base"    default="kobuki"/>

  <arg name="enable_lidar"  default="false"/>
  <arg name="enable_webcam" default="false"/>

  <arg name="odom_frame" default="odom"/>
  <arg name="odom_topic" default="mobile_base/odom"/>

  <group>
    <machine name="$(arg robot_name)" address="$(arg robot_address)" env-loader="/opt/ros/kinetic/remote.sh" user="ngenator"/>

    <!-- Start the driver for the mobile base. options: kobuki, roomba -->
    <include file="$(find robot)/launch/includes/mobile_base/$(arg robot_base).launch">
      <param name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <!-- Additional sensors: enable_lidar, enable_webcam -->
    <group ns="sensors">
      <include if="$(arg enable_lidar)"  file="$(find robot)/launch/includes/sensors/rplidar.launch">
        <param name="machine" value="$(arg robot_name)"/>
      </include>

      <include if="$(arg enable_webcam)" file="$(find robot)/launch/includes/sensors/webcam.launch">
        <param name="machine" value="$(arg robot_name)"/>
      </include>
    </group>
  </group>
</launch>